<h1>Result</h1>
<% if @not_in_array %>
    <p>Sorry but <strong><%= @answer %></strong> can't be built out of <%= @letters.gsub(' ', ', ') %></p>
<% elsif @not_true_word %>
    <p>Sorry but <strong><%= @answer %></strong> does not seem to be a valid English word...</p>
    <p><%= link_to 'Play again', '/new' %></p>
<% elsif @correct_word %>
    <p><strong>Congratulations!</strong> <%= @answer %> is a valid English word!</p>
    <p>Score: <%= session[:score] %>
    <p><%= link_to 'Play again', '/new' %></p>
<% end %>